.square {
    height: 75px;
    width: 75px;
    position:absolute 
}

.square1 {    
    background-color: rgb(105, 21, 21);
    left: 32px; 
    z-index: 5;
}

.square2 {    
    background-color: powderblue;
    left: 48px;
    z-index: 4;
}

.square3 {    
    background-color: goldenrod; 
    left: 64px; 
    z-index: 3;
}

.square4 {    
    background-color: yellowgreen;  
    left: 80px;
    z-index: 2;
}

.square5 {   
    background-color: blueviolet; 
    left: 96px;
    z-index: 1;
}